@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 55px;
  background: #F55A5A;
}
.header {
  font-size: 14.5px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  letter-spacing: 1px;
  margin-left: 1.5vw;
  font-weight: 200;
}
.fa-globe-americas {
  font-size: 24px;
  color: #fff;
}
main {
  display: flex;
  justify-content: center;
  width: 100%;
}
.card {
  display: flex;
  width: 50%;
  height: 200px;
  margin: 100px 0px 0px 0px;
}
.imageContainer {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.details {
  padding: 20px;
  height: 100%;
  width: 900px;
}
.mapDetails {
  display: flex;
  align-items: center;
}
.fa-map-marker-alt {
  color: #F55A5A;
}
.country {
  letter-spacing: 1.5px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  margin-left: 5px;
}
.mapsLink {
  color: #918E9B;
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  margin-left: 20px;
}
.location {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin-top: 7px;
}
.tripDate {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}
.tripSummary {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
}
.tripDetails {
  margin-top: 25px;
}
@media screen and (max-width: 850px) {
  .card {
    width: 400px;
  }
}
@media screen and (max-width: 450px) {
  .card {
    flex-flow: column;
  }
  .details {
    width: 100%;
  }
  .imageContainer {
    height: 100px;
    overflow: visible;
  }
}